<div class="container " id="clients">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header text-center pb-5">
        <h2 class="mt-5">Our Clients</h2>
        <p>Meet Our <span class="color-normal">Happy</span>  Clients</p>
      </div>
    </div>
  </div>
</div>



<div id="owl-demo" class="owl-carousel owl-theme">
          
    <div class="item"><img src="clients/legend.png" alt="Owl Image" /></div>
    <div class="item"><img src="clients/abod.jpg" alt="Owl Image" /></div>
    <div class="item"><img src="clients/twins.jpg" alt="Owl Image" /></div>
    <div class="item"><img src="clients/khaledsakr.png" alt="Owl Image" /></div>
    <div class="item"><img src="clients/eslam.jpg" alt="Owl Image" /></div>
    <div class="item"><img src="clients/shima.png" alt="Owl Image" /></div>
   
   
  </div>