<div class="ProjectBackground " id="projects">

<div class="container pt-2">
<div class="row mt-5"> 
    <div class="col-12 d-flex flex-column align-items-center justify-content-center  gap-3 mb-3 ">
        <h2 class="fw-bold ">Projects</h2>
        <p><SPan class="fw-bold color-normal">I AM </SPan> here to make it perfect !</p>
        <ul class="d-flex gap-2 justify-content-center">
            <li class="filter activeli " id="all" (click)="handleclick($event)">All</li>
            <li class="filter projectul" id="digital" (click)="handleclick($event)" >Digital Services</li>
            <li class="filter projectul" id="web" (click)="handleclick($event)"  >Websites</li>
            <li class="filter projectul" id="sponsor" (click)="handleclick($event)" >Sponsor Ads</li>
        </ul>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!--web --2 -->
        <div class="projectCard col all web">
          <div class="card  h-100">
            <img src="tradex.png" class="card-img-top" alt="..."  style="height: 215px;" >
            <div class="card-body">
              <h5 class="card-title color-normal fs-5">Tradex | Commercial Website </h5>
              <small class="card-text">A fully hand-coded website using HTML, CSS, and JavaScript, designed for a smooth and engaging user experience.
                A professional website boosts credibility, expands your reach, and showcases your services effectively</small>
            </div>
            <a href="https://abdelrahman-mosaed.github.io/Tradix--First-webpage-/" target="_blank" class=" w-auto mx-auto">
              <button class="backcolor-normal border-0 fw-bold mb-1 btn btn-primary w-auto mx-auto px-5"> 
                <div class="d-flex justify-content-center align-items-center">
                  <div>Explore</div>
                  <samp class="fs-4">🚀</samp> 
                </div>
              </button>
            </a>
          </div>
        </div>
        <div class="projectCard col all web ">
            <div class="card  h-100">
              <img src="world.png" class="card-img-top  " alt="..." style="height: 215px;"  >  
              <div class="card-body">
                <h5 class="card-title color-normal fs-5">World | Blog Website </h5>
                <small class="card-text">A Bootstrap  website using HTML, CSS , designed for a smooth and engaging user experience.
                  A professional website boosts credibility, expands your reach, and showcases your services effectively</small>
              </div>
              <a href="https://abdelrahman-mosaed.github.io/world-Bootstrap-/#" target="_blank" class=" w-auto mx-auto">
                <button class="backcolor-normal border-0 fw-bold mb-1 btn btn-primary w-auto mx-auto px-5"> 
                  <div class="d-flex justify-content-center align-items-center">
                    <div>Explore</div>
                    <samp class="fs-4">🚀</samp> 
                  </div>
                </button>
              </a>          
            </div>
          </div>
      <!--Digital Services-->
          <div class="projectCard col all digital">
            <div class="card  h-100 ">
              <img src="sakr-page.jpg" class="card-img-top " style="height: 215px;" alt="...">
              <div class="card-body">
                <h5 class="card-title color-normal fs-5">Mr Khaled Sakr | Facebook page manager  </h5>
                <small class="card-text">I created Sakr Facebook page and have been actively involved in designing various creatives,
                   managing the page, and handling paid advertisements for over three years.</small>                  
              </div>
              <a href="https://www.facebook.com/profile.php?id=100064076050923" target="_blank" class=" w-auto mx-auto">
                <button class="backcolor-normal border-0 fw-bold mb-1 btn btn-primary w-auto mx-auto px-5"> 
                  <div class="d-flex justify-content-center align-items-center">
                    <div>Explore</div>
                    <samp class="fs-4">🚀</samp> 
                  </div>
                </button>
              </a>   
            </div>
        </div>
        <div class="projectCard col all digital">
          <div class="card  h-100 ">
            <img src="war.jpg" class="card-img-top " style="height: 215px;" alt="...">
            <div class="card-body">
              <h5 class="card-title color-normal fs-5">Mr Mahmoud Taha | content creation  </h5>
              <small class="card-text">Unlock creativity with innovative design solutions. Transform ideas into visually stunning experiences!</small>                  
            </div>
            <a href="https://www.facebook.com/photo/?fbid=411526035099936&set=a.405897682329438" target="_blank" class=" w-auto mx-auto">
              <button class="backcolor-normal border-0 fw-bold mb-1 btn btn-primary w-auto mx-auto px-5"> 
                <div class="d-flex justify-content-center align-items-center">
                  <div>Explore</div>
                  <samp class="fs-4">🚀</samp> 
                </div>
              </button>
            </a>   
          </div>
      </div>
      <div class=" projectCard col all digital">
        <div class="card  h-100 ">
          <img src="superman.jpg" class="card-img-top " style="height: 215px;" alt="...">
          <div class="card-body">
            <h5 class="card-title color-normal fs-5">Mr Mahmoud Taha | content creation </h5>
            <small class="card-text">Unlock creativity with innovative design solutions. Transform ideas into visually stunning experiences!</small>                  
          </div>
          <a href="https://www.facebook.com/permalink.php?story_fbid=pfbid02gi4BBunxHfiuNMbUPEBSo3347WhQYYcxs3TZ3ktirV7w12MeDtGhkiQJDZkFw6axl&id=100087276296122" target="_blank" class=" w-auto mx-auto">
            <button class="backcolor-normal border-0 fw-bold mb-1 btn btn-primary w-auto mx-auto px-5"> 
              <div class="d-flex justify-content-center align-items-center">
                <div>Explore</div>
                <samp class="fs-4">🚀</samp> 
              </div>
            </button>
          </a>   
        </div>
    </div>
    <div class=" projectCard col all digital">
      <div class="card  h-100 ">
        <img src="shimaa.png" class="card-img-top " style="height: 215px;" alt="...">
        <div class="card-body">
          <h5 class="card-title color-normal fs-5">Miss Shimaa | Visual identity  </h5>
          <small class="card-text">Crafting unique visual identities that make brands stand out. Elevate your brand with impactful and cohesive designs.  
            From logos to full brand aesthetics, we bring your vision to life. Creativity meets strategy for a lasting impression.</small>                  
        </div>
        <a href="https://www.facebook.com/permalink.php?story_fbid=pfbid02gi4BBunxHfiuNMbUPEBSo3347WhQYYcxs3TZ3ktirV7w12MeDtGhkiQJDZkFw6axl&id=100087276296122" target="_blank" class=" w-auto mx-auto">
          <button class="backcolor-normal border-0 fw-bold mb-1 btn btn-primary w-auto mx-auto px-5"> 
            <div class="d-flex justify-content-center align-items-center">
              <div>Explore</div>
              <samp class="fs-4">🚀</samp> 
            </div>
          </button>
        </a>   
      </div>
  </div>
  <!--Sponsoer Ads-->
          <div class=" projectCard col all sponsor">
            <div class="card  ">
              <img src="work1.png" class="card-img-top pt-2 " alt="..." style="height: 215px;">
              <div class="card-body">
                <h5 class="card-title color-normal fs-5">Mr Khaled Sakr | Facebook Ads </h5>
                <small class="card-text">Mr. Khaled Sakr's Facebook ads precisely target students and parents using demographics,
                   interests, and behavior-based segmentation to maximize engagement.. Lorem ipsum dolor sit amet consectetur.</small>
              </div>
              <a href="https://www.facebook.com/permalink.php?story_fbid=pfbid026HhCefxa1jU23ypSMpbbg4hvmAuAio2Zrq55rdVLyRdUf8jV9GobL1t2UCLd4Supl&id=100064076050923" target="_blank" class=" w-auto mx-auto">
                <button class="backcolor-normal border-0 fw-bold mb-1 btn btn-primary w-auto mx-auto px-5"> 
                  <div class="d-flex justify-content-center align-items-center">
                    <div>Explore</div>
                    <samp class="fs-4">🚀</samp> 
                  </div>
                </button>
              </a>   
            </div>
          </div>
          <div class="projectCard  col all sponsor">
            <div class="card  ">
              <img src="3bodS.png" class="card-img-top pt-2 "  alt="..." style="height: 215px;">
              <div class="card-body">
                <h5 class="card-title color-normal fs-5">Abood Academy  | Facebook Ads </h5>
                <small class="card-text">Abood Academy's Facebook ads featured engaging promotional videos about Ramadan, 
                  targeting students and parents through precise audience segmentation to enhance engagement and outreach </small>                  
              </div>
              <a href="https://www.facebook.com/aboud.academy/videos/2908839042628075/" target="_blank" class=" w-auto mx-auto">
                <button class="backcolor-normal border-0 fw-bold mb-1 btn btn-primary w-auto mx-auto px-5"> 
                  <div class="d-flex justify-content-center align-items-center">
                    <div>Explore</div>
                    <samp class="fs-4">🚀</samp> 
                  </div>
                </button>
              </a>   
            </div>
          </div>
      </div>   
</div>
</div>
</div>


