<nav class="navbar navbar-expand-lg navbar-light mt-4  ">
    <div class="container-fluid ">
      <a class="navbar-brand me-4 fs-3 fw-bolder" href="#"><span class="backcolor-normal px-2 fs-2 rounded">A</span>bdelrahman </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
          <li class="nav-item ms-5 me-1    ">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item me-1">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item me-1">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item me-1">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item me-1">
            <a class="nav-link" href="#clients">Our Clients</a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" routerLink="/contact-me">Contact Me</a>
          </li>
          <li class="nav-item   ">
            <button class="btn btn-primary border-0 px-5 backcolor-normal" style="white-space: nowrap;">Download CV</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>